:root {
  --color-background: #e2e2e1;
  --color-accent-red: #b02746;
  --color-accent-yellow: #eda454;
}

@font-face {
  font-family: "Beautiful Freak Bold";
  src: url("../public/assets/fonts/Beautiful_Freak_Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: var(--color-background);
}

section.wip {
  display: grid;
  place-items: center;
  min-height: 100dvh;

  background-image: url("../public/assets/imgs/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1.wip-wrapper {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.5rem, 15vw, 7.5rem);
  padding-inline: 2rem;
  text-align: center;
  font-family: "Beautiful Freak Bold";
  text-shadow: 5px 2px 0 #302f42;
  column-gap: 1.5rem;

  .wip__word {
    display: flex;
    justify-content: center;
    gap: 0.15rem;

    &__coming {
      color: var(--color-accent-yellow);
    }

    &__soon {
      color: var(--color-accent-red);
    }
  }

  @media (min-width: 768px) {
    & {
      flex-direction: row;
    }
  }
}
