/* --- Base --- */
:root {
  --color-background: #e2e2e1;
  --color-accent-red: #b02746;
  --color-accent-yellow: #eda454;
  --color-white: #ffffff;
  --color-black: #000000;
}

@font-face {
  font-family: "Beautiful Freak Bold";
  src: url("../public/assets/fonts/Beautiful_Freak_Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: var(--color-background);
  overflow-x: hidden;
}

.comic-font {
  font-family: "Beautiful Freak Bold";
}

img {
  user-select: none !important;
}

/* --- Section - WIP --- */
section#wip {
  display: grid;
  place-items: center;
  min-height: 100dvh;

  background-image: url("../public/assets/imgs/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .wip {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    text-align: center;
    column-gap: 1.5rem;

    font-size: clamp(1.5rem, 15vw, 7.5rem);
    text-shadow: 5px 2px 0 #302f42;

    .wip__word {
      display: flex;
      justify-content: center;
      gap: 0.15rem;

      &__coming {
        color: var(--color-accent-yellow);
      }

      &__soon {
        color: var(--color-accent-red);
      }
    }
  }

  @media (min-width: 768px) {
    h1.wip {
      flex-direction: row;
    }
  }
}

/* --- Section - Hero --- */
section#hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 6rem;
  min-height: 100dvh;

  padding: 0 3rem;

  background-image: url("../public/assets/imgs/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .wp-logo {
    position: relative;

    & > img {
      height: auto;
      filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
    }

    &__text {
      width: 350px;
    }

    &__star {
      width: 120px;

      position: absolute;
      bottom: 0;
      left: -1rem;
    }
  }

  .callout {
    position: relative;

    &__catchphrase,
    &__logo {
      position: absolute;
    }

    &__catchphrase {
      bottom: -2rem;

      font-size: 2rem;
      line-height: 2.3rem;
      text-align: center;
      color: var(--color-white);
      text-shadow: 2px 2px 3px var(--color-black),
        0 4px 37.8px rgba(237, 164, 84, 0.8);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--color-black);
    }

    & > img {
      height: auto;
    }

    &__img {
      width: 400px;
      filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.4));
    }

    &__logo {
      top: -50px;
      right: 50px;

      width: 150px;
    }
  }

  .cloud-img {
    position: relative;
    width: 100%;

    &__upper {
      position: absolute;
      bottom: -25vh;
      z-index: 99;
    }
  }

  @media (max-width: 768px) {
    .cloud-img {
      &__upper {
        position: absolute;
        bottom: -42vh;
        left: -115vw;
        z-index: 99;
      }
    }
  }

  @media (min-width: 768px) {
    .wp-logo {
      &__text {
        width: 500px;
      }

      &__star {
        width: 160px;
      }
    }

    .callout {
      &__catchphrase {
        font-size: 3.75rem;
        line-height: 4rem;
        -webkit-text-stroke-width: 2px;
      }

      &__img {
        width: 600px;
      }

      &__logo {
        top: -75px;
        width: 200px;
      }
    }
  }
}

/* --- Section - Countdown Timer --- */
section#countdown-timer {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100dvh;

  background-image: url("../public/assets/imgs/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .countdown-time {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 2vw, 2.5rem);

    .time {
      --offset-shadow-blur: 4px;
      --offset-shadow-negate: -3px;
      --offset-shadow: 5px;

      font-size: clamp(4rem, 10vw, 10rem);
      color: var(--color-white);
      text-shadow: var(--offset-shadow) var(--offset-shadow) 0
          var(--color-black),
        var(--offset-shadow-negate) 0 0 var(--color-black),
        0 var(--offset-shadow-negate) 0 var(--color-black),
        var(--offset-shadow-blur) var(--offset-shadow-blur) 5px
          var(--color-black);
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .column .colon {
      --offset-shadow: 5px;

      display: block;
      width: clamp(1.5rem, 5vw, 3rem);
      background-color: var(--color-white);
      border: 3px solid var(--color-black);
      box-shadow: var(--offset-shadow) var(--offset-shadow) 0 var(--color-black);
      border-radius: 50%;
      aspect-ratio: 1;
    }
  }

  .cloud-img {
    position: relative;
    width: 100%;

    &__bottom {
      position: absolute;
      bottom: -25vh;
    }
  }

  @media (max-width: 768px) {
    .cloud-img {
      &__bottom {
        max-width: 250px;
        position: absolute;
        bottom: -20vh;
        left: -150vw;
      }
    }
  }
}
